In [1]:
#
# This project is based on data from several different sources containing passenger data from the Titanic.
# I've worked hard to make sure that it's as correct as can be.  I've done merging and correcting of data
# based on what I believe is correct (although no one actually knows what the exact number of passengers 
# who survived and perished is).
# 
# Set up necessary things to run the process.
#
import csv
import sqlite3
import pandas as pd
import seaborn as sns

dbName = "C:/CL-Project/Titanic.db"
conn = sqlite3.connect(dbName)
cur = conn.cursor()

In [2]:
df = pd.read_sql_query("select * from titanic_passenger_list;", conn)
df

,passenger_id,lastname,firstname,other_info,age,gender,hometown,boarded,lifeboat,body,pclass,survived,passenger,crew,crew_responsibility
0,1,Allen,Miss Elisabeth Walton,,29.00,F,,Southampton,,,1,1,1,0,
1,2,Allison,Mr Hudson Joshua Creighton,,30.00,M,,Southampton,,,1,0,1,0,
2,3,Allison,Mrs Bessie Waldo,,25.00,F,,Southampton,,,1,0,1,0,
3,4,Allison,Miss Helen Loraine,,2.00,F,,Southampton,,,1,0,1,0,
4,5,Allison,Master Hudson Trevor,,0.91,M,,Southampton,,,1,1,1,0,
5,6,Anderson,Mr Harry,,47.00,M,,Southampton,,,1,1,1,0,
6,7,Andrews,Miss Kornelia Theodosia,,62.00,F,,Cherbourg,,,1,1,1,0,
7,8,Andrews,Mr Thomas,,39.00,M,,Belfast,,,1,0,1,0,
8,9,Appleton,Mrs Charlotte,,53.00,F,,Southampton,,,1,1,1,0,
9,10,Artagaveytia,Mr Ramon,,71.00,M,,Cherbourg,,,1,0,1,0,
10,11,Astor,Colonel John Jacob,,47.00,M,,Cherbourg,,,1,0,1,0,
11,12,Astor,Mrs Madeleine Talmage,,18.00,F,,Cherbourg,,,1,1,1,0,
12,13,Aubart,"Mme. Leontine Pauline ""Ninette""",,24.00,F,,Cherbourg,,,1,1,1,0,
13,14,Barber,Miss Ellen Mary,(Maid to Mrs Tyrell William Cavendish),26.00,F,,Southampton,,,1,1,1,0,
14,15,Barkworth,Mr Algernon Henry,,47.00,M,,Southampton,,,1,1,1,0,
15,16,Bassani,Mrs Albina,(Maid to Mrs William Robert Bucknell),32.00,F,,Cherbourg,,,1,1,1,0,
16,17,Baumann,Mr John D.,,60.00,M,,Cherbourg,,,1,0,1,0,
17,18,Baxter,Mrs Helene,,50.00,F,,Cherbourg,,,1,1,1,0,
18,19,Baxter,Mr Quigg Edmond,,24.00,M,,Cherbourg,,,1,0,1,0,
19,20,Beattie,Mr Thomson,,36.00,F,,Southampton,,,1,0,1,0,
20,21,Beckwith,Mr Richard Leonard,,37.00,M,,Southampton,,,1,1,1,0,
21,22,Beckwith,Mrs Sallie,,46.00,F,,Southampton,,,1,1,1,0,
22,23,Behr,Mr Karl Howell,,26.00,M,,Cherbourg,,,1,1,1,0,
23,24,Bessette,Miss Nellie Mayo,(Maid to Mrs Ella Holmes White),39.00,F,,Cherbourg,,,1,1,1,0,
24,25,Bidois,Miss Rosalie,(Maid to Mrs John Jacob Astor),46.00,F,,Cherbourg,,,1,1,1,0,
25,26,Bird,Miss Ellen,(Maid to Mr & Mrs Isodor Straus),31.00,F,,Southampton,,,1,1,1,0,
26,27,Birnbaum,Mr Jakob,,24.00,M,,Cherbourg,,,1,0,1,0,
27,28,Bishop,Mr Dickinson H.,,25.00,M,,Cherbourg,,,1,1,1,0,
28,29,Bishop,Mrs Helen,,19.00,F,,Cherbourg,,,1,1,1,0,
29,30,Bjornstrom-Steffansson,Mr Mauritz Hokan,,28.00,M,,Southampton,,,1,1,1,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2154,2155,Valvassori,Mr. Ettore Luigi,,35.00,M,"London, England",Southampton,,,0,1,0,1,Waiter
2155,2156,Vicat,Mr. Alphonse Jean Eugene,,21.00,M,"London, England",Southampton,,,0,1,0,1,Cook
2156,2157,Villvarlange,Mr. Pierre Leon Gabriel,,19.00,M,"Paris, France",Southampton,,,0,1,0,1,Asst. Soup Cook
2157,2158,Vine,Mr. H.,,18.00,M,"London, England",Southampton,,,0,1,0,1,Asst. Controller
2158,2159,Vioni,Mr. Roberto,,31.00,M,"London, England",Southampton,,,0,1,0,1,Waiter
2159,2160,Voegelin-Dubach,Mr. Johannes,,35.00,M,"London, England",Southampton,,,0,1,0,1,Coffee Maker
2160,2161,Zanetti,Mr. Minio,,20.00,M,"London, England",Southampton,,,0,1,0,1,Asst. Waiter
2161,2162,Zarracchi,Mr. L.,,26.00,M,"Southampton, Hampshire, England",Southampton,,,0,1,0,1,Wine Butler
2162,2163,Gwinn,Mr. William Logan,,37.00,M,"New York City, USA",Southampton,,,0,1,0,1,Postal Clerk
2163,2164,March,Mr. John Starr,,50.00,M,"Newark, New Jersey, USA",Southampton,,225MB,0,0,0,1,Postal Clerk
2164,2165,Smith,"Mr. John Richard ""Jago""",,35.00,M,"Truro, England",Southampton,,,0,1,0,1,Postal Clerk
2165,2166,Williamson,Mr. James Bertram,,35.00,M,"Dublin, Ireland",Southampton,,,0,1,0,1,Postal Clerk
2166,2167,Woody,Mr. Oscar Scott,,41.00,M,"Clifton, Virginia, USA",Southampton,,167MB,0,0,0,1,Postal Clerk
2167,2168,Andrews,Mr. Thomas,,39.00,M,"Belfast, Ireland",Belfast,,,1,1,0,1,Shipbuilder
2168,2169,Campbell,Mr. William Henry,,21.00,M,"Belfast, Ireland",Belfast,,,2,1,0,1,Joiner
2169,2170,Chisholm,Mr. Roderick Robert Crispin,,40.00,M,"Belfast, Ireland",Belfast,,,1,1,0,1,Draughtsman
2170,2171,Cunningham,Mr. Alfred Fleming,,21.00,M,"Belfast, Ireland",Belfast,,,2,1,0,1,Fitter
2171,2172,Frost,"Mr. Anthony Wood ""Artie""",,37.00,M,"Belfast, Ireland",Belfast,,,2,1,0,1,Fitter
2172,2173,Knight,Mr. Robert J.,,39.00,M,"Belfast, Ireland",Belfast,,,2,1,0,1,Fitter
2173,2174,Parkes,"Mr. Francis ""Frank""",,21.00,M,"Belfast, Ireland",Belfast,,,2,1,0,1,Plumber
2174,2175,Parr,Mr. William Henry Marsh,,29.00,M,"Belfast, Ireland",Belfast,,,1,1,0,1,Electrician
2175,2176,Watson,Mr. Ennis Hastings,,15.00,M,"Belfast, Ireland",Belfast,,,2,1,0,1,Electrician's Apprentice
2176,2177,Brailey,Theodore Ronald,,24.00,M,"London, England",,,,0,0,0,1,Pianist
2177,2178,Bricoux,Roger Marie,,20.00,M,"Cosne-sur-Loire, France",,,,0,0,0,1,Cellist
2178,2179,Clarke,John Frederick Preston,,30.00,M,"Liverpool, Lancashire, England",,,202MB,0,0,0,1,Bassist
2179,2180,Hartley,Wallace,,33.00,M,"Colne, Lancashire, England",,,224MB,0,0,0,1,"Bandmaster, violinist"
2180,2181,Hume,John Law,,21.00,M,"Dumfries, Scotland",,,193MB,0,0,0,1,Violinist
2181,2182,Krins,Georges Alexandre,,23.00,M,"London, England",,,,0,0,0,1,Violinist
2182,2183,Taylor,Percy Cornelius,,32.00,M,"London, England",,,,0,0,0,1,Cellist
2183,2184,Woodward,John Wesley,,32.00,M,"Oxford, England",,,,0,0,0,1,Cellist

In [ ]:
#
# The age of the passengers.  If the passenger was less than a year old, then a fraction showing the age is displayed
# Under one year calculation is as follows:
# y = 1 (year)
# y / 12 = .0833333333333333 (1 month)
# 
# crew - 0 - no, 1 - yes
df = pd.read_sql_query("select * from titanic_passenger_list;", conn)
#
# Gender
#

df["gender"] = df["gender"].astype(char)

In [ ]:
#
# survived - 0 - no, 1 - yes
#
df["survived"] = df["survived"].astype(bool)
#
# Age - 1-99
#
df["age"] = df["age"].astype(int)
#
# passenger - 0 - not a passenger, but a crew member, 1 - a passenger, not a crew member
#
df["passenger"] = df["passenger"].astype(bool)
#
# crew - 0 - not a member of the crew, 1 - Yes, a member of the crew
#
df["crew"] = df["crew"].astype(bool)
#
# class - 1 - first class, 2 - 2nd class, 3 - 3rd class (This is the most interesting data, since it shows that 3rd
#      class passengers weren't given the same chance to board the lifeboats as 1st and 2nd class passengers)
#
df["pclass"] = df["pclass"].astype(int)

In [ ]:
#
# Display the raw data showing how many died and how many survived.  These counts vary based on what website you 
# got them from.
#
df.survived.value_counts()

In [ ]:
df.gender.value_counts()

In [ ]:
df.pclass.value_counts()

In [ ]:
df.passenger.value_counts()

In [ ]:
df.crew.value_counts()

In [ ]:
sns.lmplot(x="age", y="survived", col="gender", hue="pclass", data=df, logistic=True)

sns.lmplot(x="age", y="survived", hue="pclass", data=df, logistic=True)
sns.barplot(x="age", y="survived", hue="pclass", data=df)

In [ ]:
conn = sqlite3.connect(dbName)
cur = conn.cursor()

In [ ]:
sns.lmplot(x="age", y="pclass", hue="survived", data=df, logistic=True)