<center><h1>Titanic database Code Louisville Project</h1></center>
<center><h2>Project for Python class - January, 2019</h2></center>


<center>
    <h2/>
    <h5>Student name: John Vornberger</h5>
    <h6>Course: Python/Sqlite3</h6>
    <h6>OS Used: Windows 10</h6>
</center>
    

<h4>Other necessary evils:</h4>
<p>
    Github Repository: <bold>jv30344/cl-titanic</bold><br>
    Default Directory: C:/CL-Project <br>
    Name of script to run: main_flow.ipynb
    <br>
    Default directory is set to C:/CL-Project 
<br>    
<ol>
    <li> Python </li>
    <li> Pandas</li>
    <li> Anaconda</li>
    <li> Jupyter Notebook</li>
    <li> Sqlite3</li>
    <li> matplotlib (for graphs)</li>
    <li> seaborn (also for graphs)</li>
</ol>
</p>
<br>
<p>
    This project is based on data from several different sources containing passenger data from the Titanic.  I've worked       hard studying the data from several sources along with merging corrections and updates into my database.  It's still       not quite complete, but it'll do for this project.
</p>

In [ ]:
#
# Pandas
import pandas as pd
#
# Matplotlib
from matplotlib import pyplot as plt
import matplotlib.ticker as ticker
#
# Seaborn
import seaborn as sns
#
# sqlite
import sqlite3 as sql
#

<h3>Connect to the database</h3>

In [ ]:
db = "C:/CL-Project/Titanic.db"
print("Database - " + db)
#
# Create database connection
#
conn = sql.connect(db)

<h3>Pull the data from the database</h3>

In [ ]:
#
# Queries
#
sql_query_all = '''
SELECT *
FROM titanic_passenger_list;
'''

sql_query_pass_only = '''
SELECT * 
FROM titanic_passenger_list
where not crew;
'''

In [ ]:
#
# Display all of the rows in the database
# 
df = pd.read_sql_query(sql_query_all, conn)
df
#

In [ ]:
### Change some of the data types for helping with graphing the data
#
# Define appropriate data types for display
#
df["gender"] = df["gender"].astype(str)         # Gender - String (M/F)
df["survived"] = df["survived"].astype(bool)    # survived - Boolean: 0 = Did not survive, 1 = Survived
df["age"] = df["age"].astype(int)               # Age - 0-100 is valid
df["passenger"] = df["passenger"].astype(bool)  # Passenger/Crewmember 0 = Crew member,  1 = Passenger
df["pclass"] = df["pclass"].astype(int)         # Passenger Class 0=Crew member, 1=1st Class, 2=2nd Class, 3=3rd Class

<h3>This graph is interesting, but its getting a deprecation message.  Its still working though</h3>

In [ ]:
# Scatterplot arguments
sns.lmplot(x='survived', y='pclass', data=df,
           fit_reg='false', 
           hue='gender')

#           xlim=(0,1),
#           ylim=(0,3),
#           xticks=[0,1],
#           yticks=[0,1,2,3])

<h3>
    Swarm Plot graph
</h3>
<h4>This is graph shows (by gender/class) survival rates</h4>
    <ul>
        <li>The crew (pclass 0) had more male survivors than female</li>
        <li>According to my data, only 6 first class female passengers (out of a total of 327) perished in the sinking</li>
        <li> * It's easy to see that steerage passengers (3rd class) did not do well. </li>
    </ul>
    <br>
</h4>

In [ ]:
# This runs for a while.  Please be patient

sns.swarmplot(x='pclass', y='gender', hue='survived', data=df)

# sns.countplot(x="pclass", hue="survived", data=df)

In [ ]:
#
# Display the raw data showing how many died and how many survived.  
#
df.survived.value_counts()

In [ ]:
df.gender.value_counts()

In [ ]:
df.pclass.value_counts()

In [ ]:
df.passenger.value_counts()

In [ ]:
df.crew.value_counts()

In [ ]:
 sns.lmplot(x="age", y="survived", col="gender", hue="pclass", data=df, logistic=True)

In [ ]:
sns.lmplot(x="age", y="survived", hue="pclass", data=df, logistic=True)

<h4>The graph below shows (by age/survived) and class the survival rate</h4>

<h3>The graph below is like the one above except the gender is combined.<br>
Pandas is getting a divide by zero on it so I commented it out. </h3>

In [ ]:
# sns.lmplot(x="age", y="pclass", hue="survived", data=df, logistic=True)