In [ ]:
#
# This project is based on data from several different sources containing passenger data from the Titanic.
# I've worked hard to make sure that it's as correct as can be.
# 
# Set up necessary things to run the process.
#####################################################
# Default directory on my PC..  --> C:/CL-Project
#
# Things to do in this process
#
#  1) Load everything from Github down to directory C:/CL-Project
#  2) Install Sqlite
#
import csv
import sqlite3
import pandas as pd
import seaborn as sns
import os
#

In [ ]:
dbDir = "C:/CL-Project/"
dbName = "Titanic.db"
db = dbDir + dbName
print("Database - " + db)

In [ ]:
#
# Create the Database file
#
print("Creating the database")
sqlite3 db
print("Database Created")

In [ ]:
#
# This cell is going to create the SQLite database for us to process..  
#
conn = sqlite3.connect(db)
cur = conn.cursor()
.read titanic_db_import.sql

In [ ]:
#
# The age of the passengers.  If the passenger was less than a year old, then a fraction showing the age is displayed
# Under one year calculation is as follows:
# y = 1 (year)
# y / 12 = .0833333333333333 (1 month)
# 
# crew - 0 - no, 1 - yes
df = pd.read_sql_query("select * from titanic_passenger_list;", conn)
#
print ( "Selecting all passengers and crew members  ")
#
# Gender
#

df["gender"] = df["gender"].astype(str)

In [ ]:
#
# survived - 0 = no, 1 = yes
#
df["survived"] = df["survived"].astype(bool)
#
# Age - 1-99
#
df["age"] = df["age"].astype(int)
#
# passenger - 0 - not a passenger, but a crew member, 1 - a passenger, not a crew member
#
df["passenger"] = df["passenger"].astype(bool)
#
# crew - 0 - not a member of the crew, 1 - Yes, a member of the crew
#
df["crew"] = df["crew"].astype(bool)
#
# class - 1 - first class, 2 - 2nd class, 3 - 3rd class (This is the most interesting data, since it shows that 3rd
#      class passengers weren't given the same chance to board the lifeboats as 1st and 2nd class passengers)
#
df["pclass"] = df["pclass"].astype(int)

In [ ]:
#
# Display the raw data showing how many died and how many survived.  These counts vary based on what website you 
# got them from.
#
print(df.survived.value_counts()

In [ ]:
df.gender.value_counts()

In [ ]:
df.pclass.value_counts()

In [ ]:
df.passenger.value_counts()

In [ ]:
df.crew.value_counts()

In [ ]:
sns.lmplot(x="age", y="survived", col="gender", hue="pclass", data=df, logistic=True)

In [ ]:
sns.lmplot(x="age", y="survived", hue="pclass", data=df, logistic=True)
sns.barplot(x="age", y="survived", hue="pclass", data=df)

In [ ]:
conn = sqlite3.connect(dbName)
cur = conn.cursor()

In [ ]:
sns.lmplot(x="age", y="pclass", hue="survived", data=df, logistic=True)