In [ ]:
import pandas as pd
import numpy as np
import sqlite3 as sql
import matplotlib as mp

In [ ]:
# Create database connection
db = "/Users/bing/CodeLouisville/Python_DB_notebooks/Titanic.db"
# db = 'titanic.db'
conn = sql.connect(db)

In [7]:
valid_class = {1,2,3,'ALL'}
valid_gender = list("M","F", "BOTH")
valid_age = list(range(0, 100))
valid_survived = list(0,1,"NONE")

TypeError: list expected at most 1 arguments, got 3

In [4]:
print("Build query to display Titanic passenger data")
print()
print("Parameters allowed are:")
print(" ")
print("   Class: [1, 2, 3, or ALL] Example: 1,2 or 1,3 or ALL or just hit the 'Enter' key for ALL ")
print("  Gender: [M, F, or BOTH]  Example: M, BOTH, or just hit the 'Enter' key for BOTH")
print("     Age: [Enter an age, a string of ages separated by commas, or ALL]  or just hit the 'Enter' key for ALL")
print("Survived: [Y, N, or BOTH]  Example: Y BOTH or just hit the 'Enter' key for BOTH")
print("")

class_in_string =    "                      Enter Class(s), or press 'Enter' for all Classes: "
gender_in_string =   "                       Enter Gender, or press 'Enter' for both Genders: "
age_in_string =      "Enter list of ages separated by a comma, or press 'Enter' for all Ages: "
survived_in_string = "Enter whether you want data from passengers that survived[Y] or not[N] or press 'Enter' for both"




in_class =    input(class_in_string)
in_class = upper(in_class)
if in_class is null:
    in_class = 'ALL'
    
in_gender =   input(gender_in_string)
if in_gender is null:
    in_gender = 'BOTH'
    
in_age =      input(age_in_string)
if upper(in_age) is null:
    in_age = 'ALL'
elsif:
    upper(in_age
    
in_survived = input(survived_in_string)
if in_survived is null:
    in_survived = 'ALL'

Build query to display Titanic passenger data

Parameters allowed are:

   Class: [1, 2, 3, or ALL] Example: 1,2 or 1,3 or ALL or just hit the 'Enter' key for ALL
  Gender: [M, F, or BOTH]  Example: M, BOTH, or just hit the 'Enter' key for BOTH
     Age: [Enter an age, a string of ages separated by commas, or ALL]  or just hit the 'Enter' key for ALL
Survived: [Y, N, or BOTH]  Example: Y BOTH or just hit the 'Enter' key for BOTH

                      Enter Class(s), or press 'Enter' for all Classes: all
                       Enter Gender, or press 'Enter' for both Genders:
Enter list of ages separated by a comma, or press 'Enter' for all Ages: 1,2,4,20
Enter whether you want data from passengers that survived[Y] or not[N] or press 'Enter' for both

In [ ]:
# Build SQL based on the input given

In [ ]:
query = '''
SELECT pl_class.*
FROM passenger_list pl_class,
   passenger_list pl_gender,
   passenger_list pl_age,
   passenger_list pl_survived
WHERE pl_class.id = pl_gender.Id 
   AND pl_class.id = pl_age.Id 
   AND pl_class.Id = pl_survived.id 
   AND pl_class.class = 
   AND pl_gender.gender = 'M' 
   AND pl_age.age BETWEEN 20 AND 40 
   AND NOT pl_survived.Survived;'''