In [16]:
import pandas as pd
import numpy as np
import sqlite3 as sql
import matplotlib as mp

In [17]:
# Create database connection
db = "/Users/bing/CodeLouisville/Database/Titanic.db"
conn = sql.connect(db)

In [18]:
r1 = ''
r2 = ''
r3 = ''
r4 = ''
r1 = range(10, 15+1)
r2 = range(30, 35+1)
s1 = [*r1]
s2 = [*r2]
s1.extend(s2)
print(s1)

[10, 11, 12, 13, 14, 15, 30, 31, 32, 33, 34, 35]